/* seccion 1 nav-bar */

header {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar {
    background-color: #ff0;
}

.img-fluid {
    width: 100px;
    height: 100px;
}

.titulo {
    font-size: 2.5vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width:1078px) {
    #navbarNavAltMarkup {
        justify-content: end;
    }
}

/* Seccion 1 nav-bar */

/* Seccion 2 Banner */
.seccion2 {
    position: relative;
    background-image: url(style/ba2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    font-size: 2.2vh;
    filter: brightness(55%);
}

.contenedor {
    position: absolute;
    top: 25vh;
    left: 55vw;
    margin: 0;
    max-width: 20rem;
    color: white;
}


/* Seccion 2 Banner */

/* Seccion 3 Cuerpo de pagina */

.seccion3
{
    flex-wrap: wrap-reverse;
}

.card
{
    width: 18rem;
}

.card-img-top
{
    height: 325px;
}

.card-body
{
    height: auto;
}

 /* Seccion 4 imagen del medio */

 .playa
 {
    border-color: black !important;
    width: 100%;
 }

 .texto2
 {
    background-color: grey;
    color: white;
 }